.modal {
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  background: white;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.2);
  z-index: 1000;
  text-align: start;
  width: 200px;
  height: 50px;
}

.modal h2 {
  color: #27ae60;
  margin-bottom: 15px;
}

.modal text {
  text-align: start;
  justify-content: start;
}
